/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

::placeholder {
    font-family: 'Lato', sans-serif;
}

.menu {
    background: #ffc0cb;
}

nav {
    height: 80px;
    width: 100%;
}

label.logo {
    color: #fe067a;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 1000;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

nav ul {
    float: right;
    margin-right: 20px;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.link:hover{
    background: rgb(252,7,123);
    transition: .5s;
}

.imagen-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 800px;
    
}

.h2{
    max-width: 400px;
}



.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.inc {
    height: calc(100vh - 81px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: pink;
    flex-direction: column;
    width: 100vw;
}

.res {
    height: calc(100vh - 81px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: pink;
    flex-direction: column;
    width: 100vw;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
    margin-top: 40px;
}

.container .form {
    padding: 30px;
}

.container .form .title {
    position: relative;
    font-size: 25px;
    font-weight: 600;

}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: pink;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: pink;
}

.input-field input:is(:focus, :valid)~i {
    color: pink;
}

.input-field i {
    position: absolute;
    color: #999;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: all 0.2s ease;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px 2px 4px;
    accent-color: pink;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    text-decoration: none;
    color: pink;
}

.form a:hover {
    text-decoration: underline;
}



/*BOTON*/
.form .button {
    margin-top: 35px;
}

.form .button {
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: pink;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgb(248, 214, 220);
}

.form .login-singup {
    margin-top: 30px;
    text-align: center;
}



/*GALERIA*/
/*LOADING*/
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px rgb(252,7,123);
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px purple;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px magenta;
    }
}

.ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.cargando {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    50% {
        color: black;
    }
}

.galery-t{
    font-weight: 700;
    color:#ffffff ;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 1000;
    text-align: center;
    padding: 25px;
}

.galery {
    height: 100vh;
    display: flex;
    background-color: pink;
    flex-direction: column;
    width: 100%;
    font-family: 'Lato', sans-serif;
}


.box-galery {
    height: 380px;
    width: 70%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.box-galery img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.info-galery {
    padding: 8px 20px;
    text-align: center;
}

.display-galery {
    width: 100%;
    background-color: pink;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 25px;
    padding: 25px;
}

.text-galery {
    color: #fe067a;
    font-size: 24px;
    font-weight: 550;
}

.precio-galery {
    color: #64537D;
    font-size: 18px;
    margin-top: 15px;
}




/*Inicio*/
.hero {
    height: calc(100vh - 80px);
    width: 100%;
    background: rgb(255,192,203);
    background: linear-gradient(180deg, rgba(255,192,203,1) 0%, rgba(255,192,203,1) 32%, rgba(255,208,217,1) 54%, rgba(255,215,222,1) 60%, rgba(255,255,255,1) 89%);
    background-size: cover;
    background-position: center;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.main .love {
    color: #fe067a;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.main h2 {
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.image-index img {
    width: 250px;
    border-radius: 10px;
}

/*FOOTER*/

.footer {
    background-color: white;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
}

.footer h1 {
    padding: 10px;
    text-align: center;
}

.image-udi img {
    width: 350px;
}

.list {
    text-align: center;
}

.footer-flex {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    max-width: 60%;
    justify-content: space-evenly;
    margin: 0 auto;
}




/*ADMIN PANEL*/
/*ARCHIVOS*/
.arch {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: pink;
    flex-direction: column;
    width: 100vw;
}

.contenedores {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
    margin-top: 40px;
}

.contenedores .forma {
    padding: 30px;
}

.forma .input-imagen {
    margin: 25px;
}

.forma .input-fil {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-fil input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-subir {
    margin: 30px;
    padding: 25px;
    width: 85%;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: pink;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info-galery button {
    border: none;
    margin: 3px;
    padding: 8px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: red;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*Contacto*/
.contacto {
    height: calc(100vh - 81px);
    background-color: pink;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
        
}
.contenedor-contacto h2{
    margin-top: 25px;
}

.contenedor-contacto {
    padding: 25px;
    height: 80%;
    text-align: center;
    width: 50%;
    background: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.contenedor-contacto p{
    margin: 5px;
    padding: 10px;
}



/*MAPA*/
.leaflet-container{
    margin: 0 50px;
    width: 80%;
    height: 80% ;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


/*REDES*/
.wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.wrapper .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
    line-height: 60px;
    font-size: 25px;
    color: black;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
    color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
    background: #3B5999;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before{
  background: green;
}











::-webkit-file-upload-button {
    color: white;
    background: pink;
    padding: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
}

::-webkit-file-upload-button:hover {
    background: pink;
}

/*BOTON-OUT*/
.input-buttom {
    border: none;
    color: purple;
    padding: 20px;
    font-size: 15px;
    border-radius: 6px;
    background-color: pink;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.capchats {
    margin: 25px 0px 0px 25px;
}




/*MEDIA*/

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
        
    }

    .navbar ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    .selectors {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(221, 136, 179, .85);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .3s;
        padding: 50px;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul li a {
        font-size: 20px;
    }



    #check:checked~ul {
        left: 0;
    }


    .display-galery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .footer{
        justify-content: space-around;
    }
    .image-index img {
        width: 250px;
    }

    .image-udi img {
        margin: 0 auto;
        width: 150px;
    }

    .list li p {
        font-size: 9px;
      
    }
    .contacto{
        flex-direction: column;
    }
    .contenedor-contacto{
        width: 100%;
    }
    .leaflet-container{
        height: 70%;
        width: 100%;
        box-shadow: none;
        z-index: 0;
    }

}

@media (max-width: 640px) {
    .display-galery {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}